#table-head-label {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
}

.table-responsive-xl {
  margin-left: 20px;
  margin-right: 20px;
}

.view-gone {
  visibility: collapse;
}

.planet-name,
.planet-rotation_period,
.planet-orbital_period,
.planet-diameter {
  background-color: darkcyan;
}
